.nav-button {
  width: 125px;
  margin: .5rem;
  padding: 1rem 0;
  outline: none;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media only screen and (max-width: 480px) {
  .nav-button {
    width: 110px;
    margin: .25rem;
    padding: .75rem 0;
  }
}